
.home-container {
    display: table;
    margin: auto;
    max-width: 1100px;
    background-color: whitesmoke;
    border: 1px solid rgb(207, 204, 204);
}


.container-home-div {
    margin: 15px;
   
}
.details h3 {
    margin-top: -2px;
    font-size: 17px;
    color: #6c6a6a;
}
.navbar h2 {
    color: #0398bb;
    font-size: 16px;
}
.border-lenght {
    border-bottom: 1px solid #e3dcdc;
}
.link-list h3 {
    color: #0398bb;
    font-size: 16px;

}
.para-div {
    border-radius: 10px;
    border: 2px solid #e99b0d;
    padding: 4px;
    margin-top: 16px;
}
.para-div p {
    font-weight: 600;
    color: #5a5858;
    font-size: 16px;
}
.container-quali-skill {
    display: flex;
    justify-content: space-evenly;
}
.box {
    align-items: center;
    display: flex;
   
}
.box h2 {
    color: #8d178de3;
    font-size: 16px;
}
.box h3 {
    color: #5e5d5d;
    margin-left: 13px;
    font-size: 17px;
}

.border2-div h1 {
    font-family: sans-serif;
    font-size: 22px;
}
.second-div h1 {
    font-family: sans-serif;
    font-size: 22px;  
}
.edu-div h2 {
    font-family: sans-serif;
    font-size: 16px;
}
.border-div {
    display: flex;
}
.border3-div {
    margin-left: 23px;
}
.box2 {
    display: flex;
}

.box4 {
    margin-bottom: -29px;
    display: flex;
    align-items: center;
    margin-top: -11px;
}
.right-div {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #dbd8d8;
    width: 100%;
}

.border1-div {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #dbd8d8;
    width: 100%;
}
.edu-div h3 {
    font-size: 16px;
    color: #6e6d6d;
    font-family: sans-serif;
}
.box4 h2 {
    color: #06a395;
    font-size: 17px;
}

.box4 h3 {
    margin-left: 11px;
    font-size: 15px;
}


.navbar {
    border-radius: 10px;
    width: 60%;
    display: table;
    border: 1px solid #e1dfdf;
    margin: auto;
    padding: 10px;
    background-color: white;
}
.details {
  
    justify-content: space-between;
    display: flex;
}
.link-list {
    justify-content: space-between;
    display: flex;
}
.box2 h3 {
    color: #545353;
    margin-left: 9px;
    font-size: 16px;
}
.box3 h3 {
    color: #545353;
    font-size: 16px;
    margin-left: 9px;
}
.box5 h3 {
    color: #545353;
    font-size: 16px;
    margin-left: 9px;
}
.box4 h3 {
    color: #545353;
    font-size: 16px;
    margin-left: 9px;
}
.box2 h3 {
    margin-bottom: -6px;
    color: #545353;
    margin-left: 9px;
    font-size: 16px;
    margin-top: -14px;
}
.container-exp h2 {
    font-family: sans-serif;
    font-size: 16px;
}
.container-left {
    margin-bottom: -19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
}


.container-tesla {
    align-items: center;
    display: flex;
  
}
.container-tesla h1 {
    font-family: sans-serif;
    font-size: 19px;
    color: #4a4a4a;
}
.container-tesla h2 {
    font-size: 17px;
    margin-left: 9px;
    color: #4a4a4a;
}
.container-tesla h3 {
    font-size: 17px;
    margin-left: 20px;
    color: #4a4a4a;   
}
.container-vegas h3 {
    font-size: 17px;
    color: #4a4a4a;  

}
.container-product {
    padding: 4px;
    background-color: white;
    margin-top: 15px;
    border: 2px solid #e3dede;
    border-radius: 8px;
}
ul.list1 li {
    margin-left: -30px;
    margin-top: 10px;
    font-size: 17px;
    list-style-type: none;
    color: #5e5d5d;
}
.container-prediction {
    border-radius: 8px;
    padding: 4px;
    background-color: white;
}
ul.list2 li {
    font-size: 17px;
    color: #4e4c4c;
    list-style-type: none;
    margin-top: 10px;
}
.container-prediction p {
    margin-bottom: -10px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 35px;
    color: black;
    margin-top: 3px;
}
.container-exp h2 {
    font-size: 16px;
    color: #424141;
}
ul.list3 {
    background-color: white;
    padding: 18px;
}


ul.list3 li {
    color: #504f4f;
    margin-top: 10px;
    list-style-type: none;
}
.profile {
    margin-bottom: 10px;
    justify-content: space-between;
    display: flex;
    margin-top: -23px;
}
.profile a {
    font-size: 22px;
    text-decoration: none;
    color: #0486a5;
}

.resume-section h2 {
    font-size: 27px;
    text-align: center;
    font-family: sans-serif;
}
.resume-section {
    margin-top: 23px;
    padding: 8px;
    background-color: white;
    border-radius: 10px;
}
.profile h3 {
    margin-bottom: 3px;
    margin-top: 12px;
    font-family: sans-serif;
    font-size: 21px;
}

@media (max-width:600px){
    .profile {
        display: initial;
    }
    
    .container-tesla h2 {
        margin-left: 0px;
    }
    .container-tesla h3 {
        margin-left: 0px;
    }

.details {
    display: initial;
}
.link-list {
    display: initial;
}
.box2 h3 {
   
    margin-left: 0px;
}
.box3 h3 {
    margin-left: 0px;
}
.box5 h3 {
    margin-left: 0px;
}
.box4 h3 {
    margin-left: 0px;
}
    .details {
        display: initial;
    }
    .link-list {
        display: initial;
    }
    .border3-div {
        margin-left: 0px;
    }
    .box4 h3 {
        margin-left: 0px;
     
    }
    .container-quali-skill {
        display: initial;
    }
    .container-left {
        display: initial;
    }
    .container-tesla {
        display: initial;
    }


}