.search {
    height: 40px;
    width: 360px;
    align-items: center;
    display: flex;
    background-color: white;
    border-radius: 6px;
}
.shadow{

    max-width: 1100px;
    margin: auto;
    border: 1px solid rgb(236, 234, 234);
}
.homepage{
    margin: 20px;
}
select.search-select {
    border-bottom-right-radius: 2px;
    border: none;
    width: 47px;
    padding: 3px;
    height: 40px;
    border-top-right-radius: 3px;
}
input.search-input {
    font-size: 18px;
    border: none;
    height: 38px;
    width: 268px;
}
.search-icon {
    color: black;
}
.navbar{
height: 60px;
color: white;
background-color: black;
display: flex;
justify-content: space-between;

}


.container-box-btn {
    color: white;
    background-color: #2c2b2b;
    padding: 9px;
}

.container-box-btn p {
    display: table;
    background-color: #424141;
    border-radius: 24px;
    padding: 18px;
    margin: auto;
    padding-bottom: 24px;
}
 .container-details {
    color: white;
    display: flex;
    align-items: center;
    background-color: #2c2b2b;
}
.container-icons-btn li {
    list-style-type: none;
}
.container-details {
    display: flex;
    align-items: center;
  
}
.container-icons-btn {
    margin-right: 112px;
}

.search h3 {
    font-weight: 500;
    font-size: 19px;
    margin-left: 24px;
}
.nav {
    color: white;
    justify-content: space-between;
    display: flex;
    background: black;
}


.nav-items {
    display: flex;
    justify-content: space-between;
}
.unique {
    padding: 0px 25px;
    background-color: red;
}
.unique h1 {
    border-radius: 20px;
    padding: 2px 9px;
    font-size: 14px;
    color: white;
    border: 2px solid white;
}
.items h2 {
    font-weight: 500;
    color: #817e7e;
    font-size: 17px;
}
.list1 h3 {
    font-weight: 600;
    color: #7c7a7a;
    margin-left: 22px;
    font-size: 13px;
}
.mail-container h4 {
    font-weight: 500;
    color: #787575;
    font-size: 15px;
}
.mail-container {
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.border1 {
    margin-top: -5px;
    border-bottom: 1px solid #dbdada;
    width: 100%;
    margin-bottom: -16px;
}
.biodata h1 {
    font-family: sans-serif;
    margin-top: 25px;
    font-size: 22px;
}
.container-candidate {
    justify-content: space-evenly;
    display: flex;
}
.biodata h1 {
    margin-bottom: -16px;
    font-size: 21px;
}
.biodata h3 {
    font-weight: 500;
    margin-top: 20px;
    font-size: 15px;
    color: #ada6a6;
}
.biodata h2 {
    margin-top: -9px;
    color: #f94747;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
}
.container-data p {
    color: #5c5b5b;
    font-size: 16px;
}
.container-seprate-box {
    display: flex;
}

.digital h4 {
    font-size: 12px;
    color: white;
    width: 73%;
    padding: 9px 14px;
    background-color: #d91c1c;
    border-radius: 8px;
    margin-top: 54px;
}

.container-right h1 {
    font-family: sans-serif;
    font-size: 22px;
    color: #363535;
}
.container-right h3 {
    font-family: sans-serif;
    font-size: 19px;
}
span.light {
    font-weight: 500;
    color: #706c6c;
}
ul.list1 li {
    color: #626161;
    font-size: 17px;
}

.container-right p {
    font-weight: 600;
    color: #766a6a;
    font-size: 16px;
}


.list-titles {
    display: flex;
    align-items: center;
}
.list-titles h3 {
    font-weight: 500;
    color: #898484;
    margin-left: 24px;
    font-size: 16px;
}
.links-cont li {
    list-style-type: none;
    margin-top: 12px;
    color: #727070;
}
.container-left h1 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.container-elect h2 {
    font-family: sans-serif;
    color: #403f3f;
    font-size: 15px;
}

.container-elect h3 {
    margin-top: -2px;
    color: #858282;
    font-size: 15px;
    margin-bottom: 6px;
}
ul.list2 li {
    font-size: 14px;
    color: #6a6666;
    margin-left: -19px;
}
.container-elect {
    margin-top: 12px;
    border-radius: 8px;
    padding: 5px;
  
   
}
.box {
    display: flex;
}
.box h5 {
    border-radius: 5px;
    padding: 7px 11px;
    color: white;
    border: 1px solid;
    background-color: #e53232;
}
.first-div h5 {
    border: none;
    margin-left: 7px;
    margin-bottom: 5px;
    margin-top: 7px;
    font-size: 14px;
    border-radius: 6px;
    padding: 7px 8px;
    color: black;
    width: 21%;
    background: #A4A69C;
}


.one-row {
    display: flex;
}
.two-row {
    display: flex;
}
.one-row h5 {
    border-radius: 5px;
    padding: 7px 11px;
    color: white;
    border: 1px solid;
    background-color: #ed3636;
}
.two-row h5 {
    border-radius: 5px;
    padding: 7px 11px;
    color: white;
    border: 1px solid;
    background-color: #ed3636;
}
    
.second-div h5 {
    margin-left: 7px;
    margin-bottom: 5px;
    margin-top: 7px;
    font-size: 14px;
    border-radius: 6px;
    padding: 8px 20px;
    color: black;
    width: 38%;
    background: #A4A69C;
    border: none;
}




    @media (max-width:600px) {

        .second-div h5 {
            margin-left: 0px;
         
        }
        .container-details {
            display: initial;
           
        }

.first-div h5 {
    margin-left: 0px;
   
  
}
.navbar {
    height: 0px;
    display: initial;
  
}

.container-seprate-box {
    display: initial;
}
.box {
    display: initial;
}

.one-row {
    display: initial;
}
.two-row {
    display: initial;
}

.container-icons-btn {
    margin-right: 0px;
}
input.search-input {
    width: 100%;
}
select.search-select {
    width: 100%;
   
}
.search {

    width: 100%;
    display: initial;
}
.navbar {

    display: initial;

}      
    }  

