.shadow{

    margin: auto;
    display: table;
    max-width: 1100px;
    border: 1px solid rgb(238, 237, 237);
}



.homepage{
    margin: 15px;
}
.nav-sys {
    margin: -20px;
    color: white;
    background-color: black;
}
.navbar-div h1 {
    margin-top: 33px;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 29px;
}
.navbar-list h3 {
    margin-left: 12px;
}
.first-div h2 {
    width: 37%;
    font-size: 17px;
    background-color: #3a3939;
    padding: 11px;
}


table {
    border: 2px solid black;
}
.navbar-list {
    display: flex;
}

.delivery-location {
    display: flex;
}
.container-software {
    display: flex;
}
.sep-div1 h3 {
    color: #3e3c3c;
    font-size: 17px;
}
.right-div h2 {
    font-family: sans-serif;
    font-size: 20px;
}
.list-type {
    display: flex;
}
ul.list1-sys li {
    margin-top: 14px;
    list-style-type: none;
    color: #3e3d3d;
}
.list-type h3 {
    font-family: sans-serif;
    color: #323131;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
}
.container-candidate {
    padding: 9px;
    color: white;
    background-color: black;
}
span.light-part {
    color: black;
    border-radius: 22px;
    padding: 8px;
    background-color: #c5bfbf;
}
.left-side-div {
    margin-left: 35px;
}
.text-div {
    display: flex;
    align-items: center;

    justify-content: space-between;
}
.text-div1 {
    margin-bottom: -20px;
    display: flex;
    align-items: center;
    margin-top: -21px;
}
.text-div h2 {
    font-family: sans-serif;
    font-size: 20px;
}
.text-div h3 {
    color: #6a6767;
    font-size: 17px;
    font-family: sans-serif;
}
.text-div1 h3 {
    font-family: sans-serif;
    color: #484848;
    font-size: 16px;
}
.present-div {
    padding: 4px;
    border: 2px solid #c7c3c3;
    margin-left: 9px;
}
.more-div {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.container-academic {
    border: 1px solid #dfdcdc;
    padding: 8px;
}
.container-achievement {
    border: 1px solid #dfdcdc;
    padding: 8px;
    margin-top: 10px;
}
ul.list4 li {
    font-size: 16px;
    color: #403f3f;
    margin-top: 11px;
    list-style-type: none;
    margin-left: -32px;
}
.more-div h2 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 28px;
}
.more-div h3 {
    font-size: 15px;
    padding: 6px;
    background-color: #d90a2e;
    color: white;
}

ul.list-type1 li {
    font-size: 17px;
    margin-left: -34px;
    margin-top: 9px;
    list-style-type: none;
    color: #424141;
}
ul.list-sys li {
    margin-left: -28px;
    margin-top: 12px;
    font-size: 16px;
    color: #4a4848;
    list-style-type: none;
}

.container-academic h3 {
    font-family: sans-serif;
    font-size: 16px;
    margin-top: -12px;
    margin-bottom: -4px;
    color: #464545;
}
.container-achievement h2 {
    font-family: sans-serif;
    color: #282828;
    margin-top: -3px;
    font-size: 20px;
}
.container-academic h2 {
    font-family: sans-serif;
    color: #282828;
    margin-top: -3px;
    font-size: 20px;

}
.profile a {
    font-family: sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #cf0b0b;
    font-weight: 600;
}
.resume-section h2 {
    font-size: 22px;
}














@media (max-width:600px){
    ul.list-type1 li {
        margin-left: 0px;
    }
    .text-div1 {
        display: initial;
    }
    .text-div {
        display: initial;
    }
    .container-software {
        display: initial;
    }
    .navbar-list {
        display:initial;
    }
    
    .delivery-location {
        display: initial;
    }
    .left-side-div {
        margin-left: 0px;
    }
}