



body{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    
    }
    .navbar {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
    }
    .shadow {
        max-width: 1100px;
        margin: auto;
        border: 1px solid #dbd7d7;
    }
    button {
        background-color: white;
        border: 1px solid grey;
        font-size: 16px;
        border-radius: 31px;
        width: 100%;
        padding: 14px 52px;
    }
    .resume-container {
        margin: 20px;
    }
    
    img {
        width: 106px;
    }
    ul.differ-tools {
        list-style-type: none;
        justify-content: space-evenly;
        display: flex;
        color: #5a5858;
        font-size: 20px;
    }
    li.tool-btn {
        font-weight: 600;
        font-size: 23px;
    }
    .container-right h6 {
        font-weight: 500;
        color: #787676;
        font-size: 18px;
    }
    .container-right h1 {
        font-weight: 500;
        font-size: 30px;
        color: black;
    }span.bright {
        font-weight: 500;
        color: red;
    }
    .container-right h5 {
        color: #393991;
        font-size: 20px;
        margin-bottom: -22px;
        margin-top: 10px;
    }
    
    .container-right h2 {
        font-weight: 600;
        color: #3a3939;
        font-size: 22px;
    }
    .container-right h4 {
        color: #393991;
        font-weight: 500;
        font-size: 25px;
        margin-bottom: -15px;
    }
    .container-right  p {
        font-weight: 600;
        color: black;
        font-size: 19px;
    }
    span.light {
        font-weight: 500;
        color: #8b8888;
    }
    .container-right h3 {
        line-height: 7px;
        font-weight: 500;
        font-size: 16px;
        color: #343333;
        margin-top: 32px;
    }
    .container-right h2 {
        font-weight: 600;
        color: #3a3939;
        font-size: 22px;
        margin-bottom: -24px;
    }
    ul.list1 li {
        margin-top: 14px;
        color: #524e4e;
        font-size: 18px;
    }
    .container-candidate {
        justify-content: space-around;
        display: flex;
    }
    .another.div h1 {
        font-weight: 600;
        font-size: 30px;
    }
    
    .another.div {
        border-radius: 14px;
        padding: 17px;
        border: 1px solid #e3d9d9;
     
    }
    
    .another.div p {
        font-weight: 500;
        color: #605f5f;
        font-size: 19px;
    }
    .container-right  h3 {
        font-weight: 600;
        color: #302f2f;
        font-size: 17px;
    }
    span.light1 {
        font-size: 18px;
        color: #2e2e93;
    }
    .container-left h3 {
        color: #0a0a0a;
        font-weight: 5;
        font-size: 20px;
    }
    .container-left h2 {
        margin-bottom: -17px;
    }
    .container-left h4 {
        font-weight: 500;
        color: #545252;
        font-size: 19px;
        width: 50%;
        border-radius: 25px;
        background-color: #F2F2F0;
        padding: 11px;
    }
    .container-left h1 {
        font-weight: 600;
        font-size: 24px;
    }
    .container-left h6 {
        margin-top: 17px;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 2px;
        color: #3c3b3b;
    }
    .container-left p {
        font-weight: 600;
        color: #4e4d4d;
        font-size: 18px;
    }
    ul.list2  {
        color: #585757;
        font-size: 18px;
    }
    ul.list2 li {
        margin-top: 12px;
    }
    .container-left h5 {
        font-weight: 500;
        color: #858080;
        font-size: 20px;
    }
    span.dark {
        font-weight: 600;
        font-size: 17px;
        color: #424040;
    }
    
    .container-right {
        width: 50%;
    }
    .container-left {
        width: 50%;
        margin-left: 34px;
    }
    .profile a {
        font-weight: 600;
        text-decoration: none;
        color: #e30404;
        font-size: 21px;
    }
    .profile h3 {
        margin-top: 43px;
        font-size: 21px;
        margin-bottom: 7px;
    }
    .resume-section h2 {
        font-family: sans-serif;
        font-size: 28px;
    }
    
    @media (max-width: 600px){
        .navbar {
            display: initial;
          
        }
        img {
            width: 100%;
        }
        .container-candidate {
            display: initial;
        }
        .container-right {
            width: 100%;
        }
        .another.div {
            width: 100%;
           
        }
        .container-left {
            width: 100%;
            margin-left: 0px;
        }
    
    
    }
    